:root{
    --dark-green: rgb(4, 24, 35);
    --green-medio: rgb(31, 133, 5);
    --gree-light: rgb(121, 182, 105);
    --orange: rgb(228, 139, 9);
    --dark-white: rgb(225, 222, 222);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}


/* -----------PERFIL------------- */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 2rem;
    max-width: 1200px;
}

.profile-card {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.collaborations {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.collaborations h3 {
    margin-bottom: 1rem;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    max-width: 800px;
    scrollbar-width: none;
}
.carousel-items::-webkit-scrollbar {
    display: none; 
}
.carousel-items h4{
    margin-top: 10px;
}
.carousel-items p{
    margin-top: 10px;
    font-size: .8rem;
}

.item {
    background-color: #e0e0e0;
    height: 290px;
    border-radius: 10px;
    margin: 0 0.5rem;
    padding: 1rem;
    min-width: 200px;
    max-width: 300px;
    flex: none;
}
.item img{
    width: 200px;
}

.carousel-button {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-button.left {
    margin-right: 0.5rem;
}

.carousel-button.right {
    margin-left: 0.5rem;
}

footer {
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}
/* ------------------INDEX----------------------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imagenes/Construcción-sostenible.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    margin: auto 0;
    padding: 15%;
    height: 100vh;
    color: #f4f4f4;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    opacity: 0;
    color: var(--orange);
    animation: aparicion 1.5s forwards;
}

@keyframes aparicion {
    to {
        opacity: 1;
    }
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;

}

.hero .btn-primary, .hero .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.hero .btn-primary {
    background-color: var(--dark-green);
    color: white;
}
.hero .btn-primary:hover {
    background-color: var(--green-medio);
}
/* descripcion */

.container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 9% 0; */
    height: 85vh;
    z-index: 1;
}

.product-overview h2 {
    text-align: center;
    margin: 20px 0 30px;
    color: #333;
    font-weight: 900;
    font-size: 30px ;
}

.product-overview p {
    margin: 30px 10px;
    color: #333;
    font-weight: 500;
}

.product-overview {
    background-image: linear-gradient(to bottom, var(--gree-light) , var(--dark-green));
    /* height: 850px; */
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    border-width: 5px;
}

.feature {
    background-color: var(--dark-white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    flex: 1 1 calc(25% - 40px);
    /* max-width: calc(25% - 40px); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature img {
    max-width: 80px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 10px;
    color: var(--orange);
}

.feature p {
    font-size: .9em;
    color: #777;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* cómo funciona */
.how-it-works h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--dark-white);
    font-weight: 900;
    font-size: 30px ;
}

.how-it-works {
    background-image: linear-gradient(to bottom, var(--dark-green) , var(--green-medio));
    padding: 30px 0;
    position: relative;
    height: 100vh;
}
.steps-img{
    display: flex;
    justify-content: space-between;
}
.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.step {
    background-color: rgb(225, 222, 222);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 13px;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 1;
}

/* .steps .step:last-child {
    margin-right: 0;
} */

.step h3 {
    font-size: .8em;
    color: var(--orange);
    margin-bottom: 7px;
}

.step p {
    font-size: .7em;
    color: #333;
    margin-bottom: 5px;
    color: #555;
}

.how-it-works img {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (max-width: 768px) {
    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .how-it-works img {
        max-width: 100%;
        margin-top: 20px;
    }
}


/* testimonios */
.testimonials h2 {

    margin-bottom: 20px;
    color: #333;
    font-weight: 900;
    font-size: 30px ;
}

.testimonial p {
    margin-bottom: 20px;
    color: #555;
}

.testimonials {
    background-image: linear-gradient(to bottom, var(--gree-light) , var(--dark-green));
    padding: 40px 0;
}

.testimonial {
    background-color: var(--dark-white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.testimonial p {
    font-size: 16px;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-size: 12px;
    color: var(--orange);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logos img {
    max-height: 60px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logos {
        flex-direction: column;
    }

    .logos img {
        margin: 10px 0;
    }
}
.ripple-background{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.circle{
    position: absolute;
    border-radius: 50%;
    background: var(--dark-green);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #3b1b2a;
  }
  
  .small{
    width: 100px;
    height: 100px;
    left: -50px;
    bottom: -50px;
  }
  
  .medium{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .large{
    width: 300px;
    height: 300px;
    left: -150px;
    bottom: -150px;
  }
  
  .xlarge{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .xxlarge{
    width: 500px;
    height: 500px;
    left: -250px;
    bottom: -250px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
/* planes y precios */
.pricing h2 {
    text-align: center;
    margin: 50px 0 60px;
    font-weight: 900;
    font-size: 30px ;
    color: var(--dark-white);
}
.pricing p {
    margin-bottom: 20px;
    color: #555;
}
.pricing{
    position: relative;
    background-image: linear-gradient(to bottom, var(--dark-green) , var(--green-medio));
    height: 100vh;
}
.pricing .plans {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap;
}

.plan {
    background-color: var(--dark-white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    position: relative;
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plan h3 {
    font-size: 1em;
    margin-bottom: 20px;
    color: var(--orange);
    font-weight: 800;
}

.plan p {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    font-weight: 300;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: .7em;
    color: #555;
}

.plan ul li:before {
    content: '✔';
    color: #067b25;
    margin-right: 10px;
}

.buy-button {
    display: block;
    position: absolute;
    width: 80%;
    padding: 10px 0;
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: .9em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    bottom: 20px;
}

.buy-button:hover {
    background-color: var(--green-medio);
}

@media (max-width: 768px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* preguntas frecuentes */
.faq h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 30px ;
}

.faq p {
    margin-bottom: 20px;
    color: #555;
}

.faq {
    background-image: linear-gradient(to bottom, var(--gree-light) , var(--green-medio));
    padding: 40px 0;
    z-index: 1;
}

.question {
    background-color: var(--dark-white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 17px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.question h3 {
    font-size: 1em;
    color: var(--orange);
    margin-bottom: 10px;
}

.question p {
    font-size: .8em;
    color: #333;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .question {
        padding: 15px;
    }

    .question h3 {
        font-size: 18px;
    }

    .question p {
        font-size: 14px;
    }
}


/* -----------PROYECTOS------------ */
.projects-section a{
    text-decoration: none;
    color: #000;
}

.projects-section {
    max-width: 1200px;
    margin: 90px auto 2rem;
    text-align: center;
}

.projects-section h2 {
    margin: 2rem 0;
}
.btn-details {
    padding: 4px 10px;
    background-color: var(--dark-green);
    border-radius: 3px;
    border: none;
    color: var(--dark-white);
    font-size: .8em;
    margin: 7px 0;
    cursor: pointer;
}
.btn-details:hover {
    background-color: var(--green-medio);
}
/* --------------SHARE IDEAS---------------- */
.chat-section {
    max-width: 1200px;
    margin: 90px auto 2rem;
    display: flex;
    flex-direction: row;
}
.chat-container {
    display: flex;
    width: 100%;
}
.chat-messages {
    flex: 3;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.message-content {
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 10px;
    flex-grow: 1;
}
.input-group{
    display: flex;
    margin: 10px 0;
}
.input-group textarea{
    width: 500px;
    resize: none;
    margin-left: 20px;
}
.chat-users {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.chat-users h3 {
    margin-bottom: 1rem;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
/* ---------------CREAR PROYECTO----------------- */
.create-project-section {
    max-width: 800px;
    margin: 100px auto 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-group {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.create-project-section h2 {
    margin-bottom: 1rem;
}


.create-project-section .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.create-project-section .form-group input,
.create-project-section .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.payment-methods img {
    width: 50px;
    height: auto;
}

button[type="submit"] {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
/* ----------------LOG IN/SIGN UP------------ */
.container-login, .container-signup {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.logo-section-login{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    height: 100vh;
}
.logo-section-signup {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    height: 130vh;
}

.logo-section-login img, .logo-section-signup img {
    max-width: 100%;
    height: auto;
}

.form-section {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #2c3e50;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.form-group input, .form-section select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-actions p {
    margin-bottom: 1rem;
}

.form-actions a {
    color: #3498db;
    text-decoration: none;
}

.form-actions a:hover {
    text-decoration: underline;
}

.form-section button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.form-section button:hover {
    background-color: var(--dark-green);
}

/* ---------DETALLE PROYECTO---------- */

header {
    background-color: var(--dark-green);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 80px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}
nav ul li a:hover{
    color: var(--orange);
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.project-header {
    background-color: var(--gree-light);
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 80px;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    margin: 1rem auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-owner {
    text-align: center;
    margin-bottom: 2rem;
}

.project-image {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.description {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.certified {
    margin-top: 1rem;
    color: #2ecc71;
    font-weight: bold;
}
.project-details{
    text-align: center;
    margin: 10px 0 30px;
}
.project-details h3{
    margin: 25px 0 20px;
}
.project-details p{
    margin: 10px;
}

.add-comment {
    text-align: center;
    margin-bottom: 2rem;
}
.add-comment h3{
    margin-bottom: 20px;
}

.add-comment textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project-content button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.project-content button span {
    font-size: 1.5rem;
}

.project-content button:hover {
    background-color: #34495e;
}

.payment-methods {
    text-align: center;
}

.payment-methods h3 {
    margin-bottom: 1rem;
}

.payment-methods img {
    max-width: 100px;
    margin: 0.5rem;
}
